@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  margin: 10px;
}

/* Initial settings for div with "box" class */
.box {
  background-color: steelblue;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
  /* create transform to move box into screen along x axis */
  transform: translateX(400%);
  /* add transition on transform property to ease element into view */
  transition: transform 0.4s ease;
}

/* setting to change side in which 'box' class elements move into view */
/* will target */
.box:nth-of-type(even) {
  transform: translateX(-400%);
}

/*  settings to move element with 'box' class to 0 position on x axis when 'show' class added */
.box.show {
  transform: translateX(0);
}

/* increase size of h2 in the "box" div */
.box h2 {
  font-size: 45px;
}
